* {
  margin:0px;
  padding:0px;
}

.home-header{
  min-height:100vh;
  width:100%;
  background-image: linear-gradient(rgba(4,9,30,0.8),rgba(4,9,30,0.7)),url('Home_scroll_picture.jpg');
  background-position:center;
  background-size:cover;
}

nav{
  display:flex;
  padding:2% 6%;
  justify-content:space-between;
  align-items:center;
}

.nav-links{
  flex:1;
  text-align:center;
}

.nav-links ul li{
  list-style:none;
  display:inline-block;
  padding:8px 12px;
  position:relative;
}

.nav-links ul li a{
  font-family:'Poppins', sans-serif;
  color: white;
  text-decoration: none;
  font-size:16px;
}

.nav-links ul li::after{
  content: '';
  width:0%;
  height:2px;
  background: #f44336;
  display:block;
  margin: auto;
  transition:0.5s;
}

.nav-links ul li:hover::after{
  width:100%;
}

.nav-links ul li .active {
  color:orange;
}

.text-box{
  width: 90%;
  color: #fff;
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.text-box h1{
  font-size:62px;
  text-shadow: 2px 2px black;
}

.text-box p {
  margin:10px 0 40px;
  font-size:18px;
  color: #fff; 
}

nav .fa{
  display:none;
}

@media(max-width: 700px){
  .text-box h1{
    font-size:20px;
}
  nav {
    background-color: #262B3B;
  }

  .nav-links ul li{
    display:block;
}
.nav-links{
  position:fixed;
  background: #262B3B;
  height:100vh;
  width:200px;
  top:0;
  right:-200px;
  text-align:left;
  z-index:1;
  transition:1s;
}
nav .fa{
  display:block;
  color: #fff;
  margin:10px;
  font-size:22px;
  cursor:pointer;
}

nav .fa-bars {
  color:#fff;
}
.nav-links ul{
  padding:30px;
}
}

/*----- Video Intro -----*/
.main-section{
  background-color:#dadada;
}
.video-intro{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top:100px;
    margin-bottom:40px;
}

@media(max-width: 700px){
  .main-section {
    margin-bottom:-100px;
  }
    video{
        width:110%;
        height:110%;
    }

    .video-intro{
        margin-left:6%;
        margin-bottom:100px;
    }

  }

/*----- Lessons ----*/

.lessons{
  display:flex;
  flex-direction:row;
  margin:0 25%;
  margin-top:50px;
  padding-bottom:50px;
}

.lessons-text{
  width:100%;
  height:100%;
}





.lessons-heading {
  font-family: 'Playfair Display', serif;
  font-weight:400;
  font-size:50px;
  text-align:center;
  padding-bottom:15px;
}

.lessons p {
  font-family: 'Caudex', serif;
  font-size: 20px;
  max-width:800px;
  margin-bottom:30px;
  margin-left:7.5%;
  text-align:center;
}

.lessons-image{
height:400px;
width:500px;
margin-left: 25%;
margin-bottom:10px;
margin-top:20px;
}

.lessons-slogan,
.lessons-intro{
  display:block;
  font-style: italic;
  font-size:24px;
  padding-bottom:25px;
  text-align:center;
}


.lessons-intro {
  font-style: normal;

}

.welcome-subheading {
      font-family: 'Caudex', serif;
      font-weight:700;
      font-size:30px;
      text-align:center;
      padding-bottom:15px;
      color:black;
}

@media(max-width: 700px){
  .lessons{
     width:88.4%;
     margin:0 5.9%;
     margin-bottom:20px;
  }

  .lessons-text {
    margin-bottom:100px;
}


  .lessons-heading{
      font-size:32px;
      margin-top:0px
  }

  .lessons-slogan{
      font-size:16px;
  }

  .lessons-intro{
font-size:22px;
text-align:center;
  }

  .lessons p{
      font-size:16px;
      text-align:center;
      margin-right:20px;
  }

  .welcome-subheading {
      font-size:28px;
      text-align:center;
  }

  .lessons-image {
    height:210px;
    width:250px;
    margin-left:11.2%;
  }

 
.lessons-testimonial {
  margin-top:0px;
}
}

/*------ Welcome review ------*/



.lessons-testimonial {
  background-color:black;
  height:300px;
  padding-bottom:100px;
  width:100%;
}


.lessons-quotes-image{
  display:block;
  height:50px;
  width:50px;
  margin-left:auto;
  margin-right:auto;
  font-size:24px;
  padding-top:50px;
}

.row{
  flex-basis:44%;
  border-radius:10px;
  margin:0% 25% 5% 25%;
  padding:25px;
  cursor:pointer;
  display:flex;
  width:50%;
}

.row p{
padding:0;
color:#fff;
font-weight: 400;
font-style:italic;
font-size:24px;
}

#home-row{
margin:0 auto;
}

.author{
  display:block;
  margin: 15px 0px 35px 0px;
  font-weight:700;
  text-align:center;
}

@media(max-width: 700px) {

  .lessons-testimonial {
      width:100%;
      height:320px;
      margin-bottom:20px;
  }

  .lessons-quotes-image{
      height: 12%;
      width:12%;
      margin: 4% 0% 0% 45%;
  }

  .row{
      width:200px;
      margin:0px auto 200px auto;
  }

  .row p{
      font-size:16px;
      height:200px;
      width:280px;
  }

  #home-row p{
    margin-left:-30px;
  }

  .author {
margin-left:-10px;
  }
}

.lessons-header{
  min-height:100vh;
  width:100%;
  background-image: linear-gradient(rgba(4,9,30,0.8),rgba(4,9,30,0.9)),url('My_lessons_picture.jpg');
  background-position:center;
  background-size:cover;
}

.my-lessons-text{
  text-align:center;
  padding-top:5px;
  }

  .lessons-opening-header,
  .lessons-subheading,
  .lessons-testimonies,
  .testimonials-heading
   {
      color:white;
      font-family: 'Caudex', serif;
      font-weight:700;
      font-style:italic;
      padding-bottom:40px;
      font-size:46px;
      text-shadow: 2px 2px black;
      text-align:center;
  }

  .first-para,
    .second-para,
    .third-para,
    .testimonies-slogan

    {
        font-family: 'Caudex', serif;
        font-weight:400;
    color:white;
    font-size:20px;
    margin:0px 20%;
    padding-bottom:25px;
    text-align:center;
    }


    .row {
      margin-bottom:0px;
     }
    .testimonials {
      width:100%;
    }

    .testimonial-col1,
  .testimonial-col3{
   width:100%;
    border-radius:10px;
    margin-bottom:15%;
text-align:left;
background: #fff3f3;
padding:25px;
cursor:pointer;
display:flex;
margin-right:30px;
transition: transform .4s;
  }

  .testimonial-col2{
    width:145%;
     border-radius:10px;
     margin-bottom:15%;
 text-align:left;
 background: #fff3f3;
 padding:25px;
 cursor:pointer;
 display:flex;
 margin-right:30px;
 transition: transform .4s;
   }

   .testimonial-col1:hover,
   .testimonial-col2:hover,
   .testimonial-col3:hover {
    box-shadow: 4px 4px 8px 8px rgba(211, 211, 211, 0.2), 6px 6px 20px 20px rgba(211, 211, 211, 0.2);
    transform: scale(1.1);
   }

  .testimonial-col1 p,
  .testimonial-col2 p,
  .testimonial-col3 p{
    font-family: 'Caudex', serif;
    font-size:18px;
color:#000;
  }

  .testimonial-col1 h3,
  .testimonial-col2 h3,
  .testimonial-col3 h3 {
    margin-top:15px;
    text-align:left;
  }

  @media(max-width: 700px) {

    .lessons-header{
   background-image: none;
      background-color:#262B3B;
    }

    .lessons-opening-header {
      padding-top:20px;
    }

    .lessons-background-one {
      min-height:70vh;
    width:100%;
      background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.9)),url('My_lessons_picture.jpg');
      background-position:center;
      background-size:cover;
    }

    .lessons-background-two {
      min-height:70vh;
      width:100%;
        background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.9)),url('background-two-my-lessons.jpg');
        background-position:center;
        background-size:cover;
        box-shadow: 1px 0 8px 0 black inset;
    }

    .row{
      flex-direction:column;
      
  }

  #lessons-row {
    margin-bottom:15px;
  }

  .lessons-subheading {
    margin-left:15%;
    margin-right:15%;
  }
 
  .testimonial-col1,
  .testimonial-col2,
  .testimonial-col3{
  max-width:100%;
  margin-left:-20px;
}

.testimonial-col1 p,
.testimonial-col2 p,
.testimonial-col3 p{
  font-size:16px;
max-width:68%;
height:100%;
padding:0; 
}

.testimonial-col1 h3 {
margin-left:20%;
margin-top:-2%;
}


.testimonial-col2 h3 {
Margin-left: 9%;
margin-top:-2%;
}

.testimonial-col3 h3 {
Margin-left: 13%;
margin-top:-2%;
}
}

.about-header{
  min-height:100vh;
  width:100%;
  background-image: linear-gradient(rgba(4,9,30,0.9),rgba(4,9,30,0.9)),url('background-image-backup.jpg');
  background-position:center;
  background-size:cover;
}
.about-me {
  font-family: 'Caudex', serif;
  font-size:22px;
  text-align:center;
  margin:0% 25%;
  color:white;
  padding-top:5px;
}

.about-main-heading {
  font-family: 'Caudex', serif;
      font-weight:700;
      font-style:italic;
  font-size:46px;
  padding-bottom:40px;
  text-shadow:2px 2px black;
}

.about-me-text{
  padding-bottom:20px;
}

.about-me-introduction {
  display:block;
  margin-bottom:20px;
}

.about-me-images {
margin:auto;
}

.first-image-column,
.second-image-column,
.third-image-column {
border-radius:5%;
height:320px;
}

.first-image-column,
.third-image-column {
  width:55%;
}

.first-image-column {
  margin:0 3% 0 -35px;
    }
  
    .second-image-column {
      width:55%;
      margin-right:3%;
    }
  
    .third-image-column {
      margin-right:10px;
      margin-bottom:100px;
    }

    .first-image-column img,
    .second-image-column img,
    .third-image-column img{
      height:100%;
  border-radius:5%;
  transition:transform .4s;
    } 

    .first-image-column img:hover,
   .second-image-column img:hover,
   .third-image-column img:hover {
    box-shadow: 4px 4px 8px 8px rgba(211, 211, 211, 0.2), 6px 6px 20px 20px rgba(211, 211, 211, 0.2);
    transform: scale(1.3);
   }

   @media(max-width: 700px) {

    .about-header{
     background-image: none;
     background-color:#262B3B;
    }

    .about-main-heading {
      padding-top:20px;
    }

   .about-me-background-one {
     min-height:100vh;
     width:100%;
       background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.9)),url('about-me-background-one.jpg');
       background-position:center;
       background-size:cover;
   }

   .about-me-background-two {
    min-height:100vh;
    width:100%;
    background-image: linear-gradient(rgba(4,9,30,0.9),rgba(4,9,30,0.8)),url('about-me-background-two.jpg');
    background-position:center;
    background-size:cover;
  }

  .about-me-text {
    width:140%;
   margin-left: -20%;
  }

  .first-image-column,
  .second-image-column,
  .third-image-column {
    margin:3% 0%;
    height:250px;
    width:100%;
  }

  .third-image-column {
    margin-bottom:70px;
  }
 }

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  text-align: center;
z-index:999;
background-color: #dadada;


}.desktop-links {
  display: block;
}

.phone-link,
.email-link {
  text-decoration: none;
  margin: 10px;
  padding: 10px;
  color:black;
  font-size:24px;
}

.phone-link i,
.email-link i {
  margin-right: 5px;
}

.mobile-buttons {
  display: none;
}

.desktop-links {
  font-size:22px;
}

.phone-button,
.email-button {
  text-decoration: none;
  color: #fff;
  margin: 10px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
}

.phone-button i,
.email-button i {
  margin-right: 5px;
}

@media (max-width: 700px) {
  .desktop-links,
  .phone-link,
  .email-link
   {
    display: none;
  }

  .footer {
    padding:10px;
    margin:0px;
    background-color:pink;
   height:40px;
   width:360px;
  }

  .footer-content {
    margin-top:-9px;
    padding:0px;
    height:40px;
    background-color:red;
 margin-left:-10px;
 padding:0px;
  }

  .mobile-buttons {
    display: flex;
    margin:0px;
    padding:0px;
    width:360px;
  }

  .phone-button {
    background-color: #a3e0a3;
    width:180px;
    float:left;
    border:none;
    height:40px;
    margin:0px;
  }

  .email-button {
    background-color: #e57373;
    margin:0px;
    width:180px;
    border:none;
    height: 40px;
  }

  .phone-button .fa-phone,
    .email-button .fa-envelope-o {
      font-size:30px;
      color:white;
    }

    .phone-button button {
      border:none;
      background-color:#a3e0a3;
      margin-top:5px;
    }
    .email-button button {
      border:none;
      background-color:#e57373;
    }
  }

  .contact-header{ 
    min-height:100vh;
        width:100%;
        background-image: linear-gradient(rgba(4,9,30,0.9),rgba(4,9,30,0.8)),url('contact_picture.jpg');
        background-position:center;
        background-size:cover;
  }

  .contact-text {
    font-family: 'Caudex', serif;
    font-weight:700;
    font-style:italic;
font-size:46px;
    color:white;
    text-align:center;
    padding-bottom:40px;
  }

  .contact-us {
    width:80%;
    margin:auto;
  }

  .contact-col{
    flex-basis: 48%;
    margin-bottom: 30px;
    color:black;
  }

  .contact-col .phone-icon,
  .contact-col .email-icon
   {
    display:flex;   
    align-items:center;
    margin-bottom:40px;
    margin-right:80px;
  }

  .contact-col .phone-icon {
    margin-left:25px;
    margin-top:90px;
  }

  .contact-col .email-icon {
    justify-content: center;
  }

  .contact-col div .fa{
    font-size:28px;
    color: #f44336;
    margin: 10px;
    margin-right:30px;
  }

  .contact-col div h5 {
    font-family:  'Caudex', serif;
    font-size:20px;
    margin-bottom:5px;
    color: #fff;
  }

  .contact-col input, .contact-col textarea{
    width:100%;
    padding:15px;
    margin-bottom:17px;
    outline:none;
    border: none;
    border-bottom:1px solid white;
    box-sizing:border-box;
    background:transparent;
  }

  .contact-col input[type=text],
  .contact-col input[type=email],
  .contact-col textarea{
    font-family:  'Caudex', serif;
    font-size:18px;
    color:white;
  }

  .contact-col input::placeholder,
  .contact-col textarea::placeholder{
    font-size:18px;
  }

  .hero-btn {
    display:inline-block;
    text-decoration:none;
    color: #fff;
    border:1px solid #fff;
    padding:12px 34px;
    font-size:13px;
    background:transparent;
    position:relative;
    cursor:pointer;
  }

  .hero-btn:hover {
    border: 1px solid #f44336;
    background: #f44336;
    transition:1s;
  }

  .contact-phone-number,
  .contact-email-address {
    text-decoration: none;
  }

  @media(max-width: 700px) {

    .contact-text {
     padding-top:20px;
    }
  
   #contact-row {
    margin-left:10px;
    width:100%;
   }

   .contact-col form {
    margin-right:60px;
  }

  .contact-col {
    width:100%;
    margin: auto 0;
      }
  
      .contact-col .phone-icon,
      .contact-col .email-icon {
        margin:auto 0;
      }

      .contact-col .email-icon {
        margin-top:15px;
        margin-bottom:15px;
        width:75%;
      }
  
      .contact-col div .fa-envelope-o,
      .contact-col div .fa-phone
       {
        margin-right:10px;
      }
  
      .contact-col div h5 {
        text-align:Center;
      }
  }
